body {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}